.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  /* align-items: stretch; */
  margin: auto;
}

.row {
  display: flex;
  /* flex-grow: 1; */
}

h1 {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

button {
  width: 100px;
  height: 25px;
}
